// Mixins Here

.colorChangeAnimation(@color: silver){
    transition: 0.1s ease-in-out;

            &:hover {
                color: @color;
                transition: 0.1s ease-in-out;
                letter-spacing: 0.1rem;
            }
}

.buttonifyDiv(@color: darkgray, @fontSize: 2rem, @width){
    padding: 1rem 1rem;
    color: white;
    font-size: @fontSize;
    background: @color;
    width: @width;
    text-align: center;
    border-radius: 0.5rem;
}